<tr>
    <td class="col-sm-2">
        <a href="#sites/{{site_id}}/scoping_reports/{{id}}">
            <i class="fa fa-pencil"></i>
            {{fmt_pdc_status_messages}}
            <small>{{fmt_pdc_relevant_date}}</small>
        </a>

    </td>
    <td class="col-sm-2">
        <div class="text-truncate">{{{notes}}}</div>
    </td>
    <td class="col-sm-1">
        <a href="#sites/{{site_id}}/scoping_reports/{{id}}.pdf" title="preview final report">
            <i class="fa fa-file-pdf-o"></i>
        </a>
    </td>
    <td class="col-sm-2">{{fmt_pdc_relevant_date}}</td>
    <td class="col-sm-5">{{fmt_pdc_status_messages}} {{fmt_pdc_completed_date}}</td>
</tr>